.App {
  font-family: 'Roboto', sans-serif;
}

.App-link {
  color: #61dafb;
}

.card {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  border: none;
}

.card:hover {
  box-shadow: 2px 2px 10px lightgray;
} 

.food__details_link {
  color: #000;
}

.food__details_link:hover {
  text-decoration: none;
  color: #000;
}
